<div class="login row justify-content-center align-items-center mt-4">
  <form class="col-md-6 p-5 border" data-partial="form" action="${app.api}/account/login" data-callback="fnx.authenticate()">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" name="email" class="form-control" id="email" placeholder="Email" data-model="data.login.email">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" data-model="data.login.password">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <!-- empty -->
      </div>
      <div class="col-sm-6">
        <label class="text-danger">
          <small data-if="data.login.result" data-model="data.login.result"></small>
        </label>
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </div>
  </form>

  <div data-partial="auto"
    data-context="{ app: app, word: this, data: { key: 'Fast Machine' } }"
    data-url="${app.api}/words/random"
    data-template-url="partials/word.html"></div>
</div>