
<script type="text/html" data-template="script" id="format-email">
    <a data-attrs="{ href: 'mailto: ${this}' }" data-model="this"></a>
  </script>
  
  <script type="text/html" data-template="script" id="format-todo-detail">
    <a data-attrs="{ href: '#/users/${user.email}/todos/${todo.id}' }" data-model="todo.title"></a>
  </script>
  
  <script type="text/html" data-template="script" id="format-delete-user">
  
    <button type="button" 
        class="btn btn-danger" 
        data-partial="click"
        data-url="${app.api}/users/${this.id}"
        data-content="Are you sure you want to delete ${this.email}?"
        data-attrs="{ 
          disabled: data.user.email === this.email,
          title: data.user.email === this.email ? 'Current User' : 'Delete this user'
        }" 
        data-wall="confirm">Delete</button>
  
    <a class="btn btn-secondary" data-attrs="{ href: '#/users/${this.email}' }">Edit</a>
  
  </script>
  
  <script type="text/html" data-template="script" id="format-delete-todo">
    <button type="button" 
      class="btn btn-danger" 
      data-partial="click"
      data-url="${app.api}/todos/${todo.id}"
      data-content="Are you sure you want to delete ${todo.title}?"
      data-method="delete"
      data-callback="Attv.reloadElements()"
      data-wall="confirm">Delete</button>
  </script>