
<script type="text/html" data-template="script" id="format-email">
    <a data-attrs="{ href: 'mailto: ${this}' }" data-model="this"></a>
  </script>
  
  <script type="text/html" data-template="script" id="format-todo-detail">
    <a data-attrs="{ href: '#/users/${user.email}/todos/${todo.id}' }" data-model="todo.title"></a>
  </script>
  
  <script type="text/html" data-template="script" id="format-delete-user">
  
    <button type="button" 
      class="btn btn-danger" 
      data-attrs="{ 
        onclick: 'fnx.deleteUser(`${this.email}`)', 
        data_content: 'Are you sure you want to delete ${this.email}?', 
        disabled: email === data.user.email,
        title: email === data.user.email ? 'Current User' : 'Delete this user'
      }" 
      data-wall="confirm">Delete</button>
  
    <a class="btn btn-secondary" data-attrs="{ href: '#/users/' + this.email }">Edit</a>
  
  </script>
  
  <script type="text/html" data-template="script" id="format-delete-todo">
    <button type="button" 
      class="btn btn-danger" 
      data-attrs="{ 
        onclick: 'fnx.deleteTodo(`${todo.id}`, `${user.email}`)', 
        data_content: 'Are you sure you want to delete ${todo.title}?' 
      }" 
      data-wall="confirm">Delete</button>
  </script>