<div class="login row justify-content-center align-items-center mt-4">
  <form class="col-md-10 p-5 border">
    <h4><span data-model="user.email"></span> Profile</h4>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Email" data-model="user.email">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Password" data-model="user.password">
      </div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstName" placeholder="First Name" data-model="user.firstName">
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" data-model="user.lastName">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <label for="isAdmin" class="col-sm-10 col-form-label">
          <input type="checkbox" id="isAdmin" data-model="user.isAdmin">
          Is Admin
      </label>
    </div>
  </form>

  <div class="col-md-10 p-5 border">
    <h4>List of <span data-model="user.email"></span> TODOs</h4>
    <div class="container mb-4">
      <table data-model="user.todos"
        data-model-settings="{ 
          headers: [
            '{ user: data.user, todo: this } | template(\'#format-todo-detail\') as Title', 
            'content as Content', 
            'dateTime | formatDate as Time', 
            'this | template(\'#format-delete-todo\') as Action' 
          ] 
        }"
        class="table"></table>
  </div>
  </div>
</div>