# This is a basic workflow to help you get started with Actions

name: Build Main Branch

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }} # runs a test on Ubuntu, Windows and macOS

    strategy:
      matrix:
        os: [windows-latest] # [macOS-latest, windows-latest, ubuntu-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Environments
        run: echo TODO
        
      - name: Setup repo
        uses: actions/checkout@v2
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4

      - name: Run npm install
        run: npm install
        
      - name: Run npm test
        run: npm test
        
      - name: Production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: arttributive.js
          path: dist/**/*
          retention-days: 5
